@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM SCROLLBAR HIDING */
::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}
* {
  -ms-overflow-style: none; /* IE and Edge */
}
html {
  scrollbar-width: none; /* Firefox */
}

@layer base {
  :root {
    --background: 220 40% 100%;
    --foreground: 220 50% 30%;

    --muted: 220 40% 100%;
    --muted-foreground: 220 50% 30%;

    --popover: 222.2 84% 5%;
    --popover-foreground: 210 40% 98%;

    --card: 220 40% 100%;
    --card-foreground: 220 50% 30%;

    --border: 220 40% 100%;
    --input: 217.2 32.6% 10%;

    --primary: 198 93% 59%;
    --primary-foreground: 220 50% 30%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --accent: 29 93% 57%;
    --accent-foreground: 220 50% 30%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --success: 142 71% 45%;
    --success-foreground: 142 71% 95%;

    --ring: 212.7 26.8% 83.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 40% 20%;
    --foreground: 210 40% 98%;

    --muted: 220 40% 15%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 220 40% 10%;
    --card-foreground: 210 40% 98%;

    --border: 220 40% 15%;
    --input: 217.2 32.6% 10%;

    --primary: 198 93% 59%;
    --primary-foreground: 220 40% 10%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --accent: 29 93% 57%;
    --accent-foreground: 220 40% 10%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --success: 142 71% 45%;
    --success-foreground: 142 71% 95%;

    --ring: 212.7 26.8% 83.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: theme("fontFamily.headline");
  }
  .card {
     box-shadow: 0 10px 15px -3px rgba(235, 9, 9, 0.2), 0 4px 6px -2px rgba(243, 6, 6, 0.1);
  }
}

@layer utilities {
  .animated-slogan span {
    opacity: 0;
    transform: translateY(20px);
    display: inline-block;
    animation: slogan-fade-in 0.5s ease-out forwards;
  }

  .shine-button {
    position: relative;
    overflow: hidden;
  }
  .shine-button::after {
    content: "";
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    width: 50%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );
    animation: shine 4s infinite;
  }

  .hologram-skeleton {
    @apply relative overflow-hidden rounded-lg;
    background-color: hsl(var(--muted));
  }

  .hologram-skeleton::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.05) 20%,
      rgba(255, 255, 255, 0.1) 60%,
      rgba(255, 255, 255, 0)
    );
    animation: shimmer 2s infinite;
    content: "";
  }

  .dark .hologram-skeleton::after {
    background-image: linear-gradient(
      90deg,
      transparent 0,
      hsl(var(--primary) / 0.1) 20%,
      hsl(var(--primary) / 0.2) 60%,
      transparent 100%
    );
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes slogan-fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(200%);
  }
}