@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 9% 10%; /* #18191c */
    --foreground: 210 40% 98%;

    --card: 228 9% 10%;
    --card-foreground: 210 40% 98%;
 
    --popover: 228 9% 10%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 197 78% 52%; /* Vibrant Blue */
    --primary-foreground: 210 40% 98%;
 
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217 33% 12%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 33 100% 50%; /* Contrasting Orange */
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 228 9% 10%; /* Same as background */
    --input: 217 33% 12%;
    --ring: 197 78% 52%;
 
    --radius: 0.5rem;
    
    --sidebar-background: 228 9% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 197 78% 52%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 224 20% 10%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 228 9% 10%;
    --sidebar-ring: 197 78% 52%;
  }

  .dark {
    --background: 228 9% 10%;
    --foreground: 220 35% 98%;
    --card: 228 9% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 228 9% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 78% 52%; /* Vibrant Blue */
    --primary-foreground: 210 40% 98%;
    --secondary: 140 33% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 35% 2%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 33 100% 50%; /* Contrasting Orange */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 228 9% 10%;
    --input: 220 33% 20%;
    --ring: 197 78% 52%;
    
    --sidebar-background: 228 9% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 197 78% 52%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 224 20% 10%;
    --sidebar-accent-foreground: 220 35% 20%;
    --sidebar-border: 224 20% 6%; /* Same as background */
    --sidebar-ring: 197 78% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
